.pop-up {
  background: white;
  z-index: 10;
  width: 40vw;
  height: 30vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.lable {
  background: rgb(77, 77, 131);
  color: white;
  padding: 10px;
  font-size: 22px;
}
.p {
  font-size: 19px;
}
.button {
  background: rgb(77, 77, 131);
  color: white;
  padding: 4px;
  align-self: flex-end;
  width: 5rem;
  text-align: center;
  margin-top: 1rem;
}
.invisible {
  display: none;
}
.bg {
  height: 100vw;
  background-color: rgba(0, 0, 0, 0.539);
  width: 100%;
  z-index:5;
}
