.transaction {
  display: flex;
  width: 65vw;
  align-items: center;
  justify-content: space-between;
  background-color: #444;
  padding: 1rem 0.1rem;
  border: 1px solid #444;
  margin: 0.7rem;
  border-radius: 0.5rem;
  color: white;
  height: 2.9rem;
}
.amount {
  background-color: rgb(46, 27, 148);
  padding: 0.3rem 1.5rem;
  border-radius: 0.5rem;
  border: 2px solid #ffffff;
}
.title {
  font-size: 1.6rem;
  width: 11rem;
}
.expense-data {
  display: flex;
  justify-content: space-between;
  padding: 0rem 0.5rem;
  width: 100%;
  align-items: center;
}
.date {
  background-color: rgba(23, 23, 23, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.4rem;
  width: 4.5rem;
  margin: 0 0.3rem;
  border: 1px solid #fff;
}
.date > :nth-child(1) {
  font-size: 0.8rem;
}
.date > :nth-child(2) {
  font-size: 0.8rem;
  opacity: 0.6;
}
.date > :nth-child(3) {
  font-weight: bold;
}
