.expense {
  background: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  width: 69vw;
  justify-content: center;
  align-items: center;
}

.expense-info {
  color: white;
  font-size: larger;
}
