/* banner section */
.banner {
  display: flex;
  flex-direction: column;
  background: url("../../../../public/images/Rectangle\ 1.png") no-repeat center
    center/cover;

  height: 508px;
  position: relative;
}
.box {
  background-color: rgba(23, 23, 23, 0.644);
  height: 508px;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10;
}
.banner-content {
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 100%;
  max-width: 100vw;
  color: white;
  text-align: center;
  justify-content: flex-end;
}
.banner-content h2 {
  font-size: 48px;
  line-height: 72px;
  width: 348px;
  align-self: center;
  height: 72px;
}
.banner-content p {
  height: 36px;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
}

.banner-search hr {
  height: 1rem;
  align-self: center;
}
.banner-search {
  display: flex;
  margin: 0 auto;
  margin-top: 100px;
  background-color: white;
  align-items: center;
  width: 642px;
  margin-bottom: 9px;
  height: 60px;
  border-radius: 8px;
}
.banner-search select {
  display: flex;
  border: none;
  font-size: large;
 
  margin: 0rem;
 
  margin-left: 1rem;
  border-radius: 8px;
  align-self: center;
}
.banner-search input {
  display: flex;
  border: none;
  font-size: large;
  padding: 1rem 2rem;
  margin: 0 auto;
  width: 23rem;
  border-radius: 8px;
  align-self: center;
  outline-color: blue;
  outline-style: none;
}
select {
  outline-style: none;
}
button {
  background-color: #ffc300;
  height: 60px;
  width: 70px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: large;
  color: white;
  cursor: pointer;
  border: none;
}
.header-list {
  font-size: large;

  /* border-bottom:1px solid #1310055d; */
  height: 24px;
  width: 100%;
}
.header-list:hover {
  border-bottom: 1px solid #ffc300;
  width: 100%;
}
.invisible {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 150px;
  align-items: flex-start;
  justify-content: space-around;
  margin: 0 auto;
  border-radius: 8px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.326);
}
.Brands {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 150px;
  align-items: flex-start;
  justify-content: space-around;
  margin: 0 auto;
  border-radius: 8px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.326);
}
