.form {
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  height: 55vh;
  width: 40vw;
}
.label {
  font-weight: bold;
  font-size: 18px;
}


.button {
  width: 8rem;
  align-self: center;
  padding: 0.5rem;
  color: white;
  font-size: 18px;
  background-color: rgb(77, 77, 131);
  cursor: pointer;
}
.disable-btn {
  width: 8rem;
  align-self: center;
  padding: 0.5rem;
  color: white;
  font-size: 18px;
  background-color: rgba(32, 32, 131, 0.637);
  cursor: not-allowed;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.invalid{
  padding: 1rem;
  background: rgba(255, 255, 255, 0.292);
  opacity: 0.4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  height: 55vh;
  width: 40vw;
}
